@font-face {
    font-family: 'Artegra';
    src: url('../fonts/ArtegraSansExBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Artegra';
    src: url('../fonts/ArtegraSansExSemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
}

:root {
    --gutter: 20px;
    --accent: #ED7635;
    --black: #161616;
    --light: #EEEEEE;
    --section-top: 10rem;
    --section-bottom: 8rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



html {
    font-size: 1vw;
    overflow-x: hidden;
}

p {
    line-height: 150%;
    font-size: 1.2rem;
    font-family: "Raleway";
    font-weight: 400;
    text-transform: none;
}

body {
    font-family: "Raleway";
    background: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Artegra";
    line-height: 100%;
    font-weight: 700;
    color: var(--black);
}

.container {
    max-width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
    gap: var(--gutter);
}

.row.center {
    align-items: center;
}

.row.end {
    align-items: flex-end;
}

.row>.col {
    flex-grow: 1;
}

.row>.col-1 {
    flex-grow: 0;
    width: calc(100%/6*1);
    flex-basis: auto;
}

.row>.col-2 {
    flex-grow: 0;
    width: calc(100%/6*2);
    flex-basis: auto;
}

.row>.col-3 {
    flex-grow: 0;
    width: calc(100%/6*3);
    flex-basis: auto;
}

.row>.col-4 {
    flex-grow: 0;
    width: calc(100%/6*4);
    flex-basis: auto;
}

.row>.col-5 {
    flex-grow: 0;
    width: calc(100%/6*5);
    flex-basis: auto;
}

.row>.col-6 {
    flex-grow: 0;
    width: calc(100%/6*6);
    flex-basis: auto;
}

.row>.offset-1 {
    margin-left: calc(100%/6*1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    align-items: center;
}

.flex.start {
    align-items: flex-start;
}

.flex.end {
    align-items: flex-end;
}

.flex.j-between {
    justify-content: space-between;
}

.flex.j-center {
    justify-content: center;
}

.link {
    font-size: 1rem;
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway';
}

.decor-line {
    width: 100%;
    height: 1px;
    background: #000;
    opacity: 0.5;
}

.section-title {
    font-size: 4rem;
    text-transform: uppercase;
}

.section-title span {
    color: var(--accent);
    line-height: 110%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--accent);
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    padding: 1rem 2rem;
    cursor: pointer;
}


.btn img {
    width: 1.5rem;
    margin-left: 1rem;
}

.btn.min-btn {
    font-size: 0.8rem;
    padding: 0.9rem 1.2rem;
}

.btn.min-btn img {
    width: 0.95rem;
    margin-left: 0.6rem;
}

.upper-indent {
    padding-top: var(--section-top);
}

.lower-indent {
    padding-bottom: var(--section-bottom);
}

.page-title {
    font-size: 5rem;
    text-transform: uppercase;
    span {
        color: var(--accent);
    }
}

/* lg */
@media screen and (max-width: 960px) {
    .flex.lg-column {
        flex-direction: column;
    }
}

/* md  */
@media screen and (max-width: 768px) {
    .flex.md-column {
        flex-direction: column;
    }
}

/* sm  */
@media screen and (max-width: 576px) {
    .flex.sm-column {
        flex-direction: column;
    }
}

/* xs  */
@media screen and (max-width: 375px) {
    .flex.xs-column {
        flex-direction: column;
    }
}